* {
  margin: 0;
  padding: 0;
  color: $text-color;
  position: relative;
  box-sizing: border-box;
  font-family: SourceSansProRegular, sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: SourceSansProBold, sans-serif;
}

body {
  background-color: $primary-color;
  min-height: 100vh;
  width: 100%;
}

img,
video {
  max-height: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

section {
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  padding: 0 10vw;
  transition: padding .5s;
}

@include below(lg) {
  #root {
    padding: 0;
  }
}

.input {
  height: 2em;

  label {
    position: absolute;
    z-index: 2;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
  }

  input {
    padding: 0 1em;
    width: 100%;
    height: 100%;
    background-color: transparentize($secondary-color, .5);
    border: none;
    border-radius: .2em;

    &:focus-within {
      outline: none;
    }
  }

  &:focus-within label, label.fill {
    left: 0;
    top: 0;
    background-color: transparentize($secondary-color, .5);
    border: 1px solid;
    border-radius: 1em;
    padding: .2em .8em;
    transform: translateY(-50%) scale(.8);
  }
}

.textarea {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    margin-top: .2em;
    height: 15em;
    background-color: transparentize($secondary-color, .5);
    padding: 1em;
    border: none;

    &:focus-within {
      outline: none;
    }
  }
}

.input, .textarea {
  label.valid {
    color: $valid-color ;
    ~ input, ~ textarea {
      background-color: rgb(232,240,254);
    }
  }

  label.error {
    color: $error-color ;
  }
}

// ? ::-webkit-scrollbar {display: none;}