#root {
  padding-top: 5em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10vw;
  border-bottom: 2px solid;
  background-color: $primary-color;
  border-color: transparentize($secondary-color,.95);
  z-index: 200;

  .navbar-button {
    aspect-ratio: 1;
    height: 50%;
    border: 1px solid transparentize($secondary-color,.75);
    border-radius: .3em;
    background-color: transparent;

    &.active {
      &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: transparentize($secondary-color,.75);
        box-shadow: none;
      }
      &::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
        background-color: transparentize($secondary-color,.75);
        box-shadow: none;
      }
    }

    &::after, &::before {
      position: absolute;
      content: '';
      height: 1px;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: transparentize($secondary-color,.75);
      box-shadow: 0 .5em 0 transparentize($secondary-color,.75), 0 -.5em 0 transparentize($secondary-color,.75);
      transition: box-shadow .5s, transform .5s;
    }
  }

  .logo {
    position: absolute;
    left: calc(10vw + 2em);
    height: 100%;
    aspect-ratio: 1/1;
  }

  ul {
    font-size: 1.5em;
    margin-right: 1em;
    display: flex;
    justify-self: flex-end;

    li {
      margin: 0 1em;
      font-size: inherit;

      button {
        font-family: SourceSansProSemiBold, sans-serif;
        background-color: transparent;
        border:none;
        padding: .2em;
        font-size: inherit;

        &::after {
          position: absolute;
          bottom: -2px;
          left: 0;
          height: 2px;
          width: 0;
          content: '';
          background-color: $secondary-color;
          transition: width 1s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  @include below(lg) {
    ul {
      font-size: 1.5em;
      margin-right: 1em;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      text-align: center;

      li {
        background-color: transparentize($primary-color,.5);
        box-shadow: 0 0 .5em transparentize($primary-color,.8);
        border-radius: .5em;
        margin: .2em 0;
        font-size: inherit;
      }
    }
  }
}

